---
import { AUTH_SECRET_TOKEN } from 'astro:env/server';
import Layout from 'src/layouts/Layout.astro';
import { authCoreGraphicsCookieName } from 'src/services/core-graphics/constants';

export const prerender = false;
// export const partial = true;

const isAuth = Astro.cookies.get(authCoreGraphicsCookieName)?.value === AUTH_SECRET_TOKEN;
if (!isAuth) {
  return Astro.redirect('/core-graphics/setup');
}
---

<Layout title='Control core graphics'>
  <h1>Control the core graphics</h1>
  <form action='#'>
    <fieldset>
      <legend>Time</legend>
      <label for='minutes'>Minutes:</label>
      <input type='number' id='minutes' name='minutes' min='0' max='90' />
      <label for='seconds'>Seconds:</label>
      <input type='number' id='seconds' name='seconds' min='0' max='59' />
    </fieldset>
  </form>
  <button id='start'>Start 5 s Limit as 1st Name</button>
  <button id='pause'>Pausar</button>
  <script>
    import { actions } from 'astro:actions';
    import { TimerAction } from 'src/lib/stopwatch-worker';

    const $ = (selector: string) => document.querySelector(selector);
    $('#start')?.addEventListener('click', async () => {
      await actions.ably.stopwatch.start({
        name: '1 st',
        payload: {
          limitMs: 5_000,
        },
      });
    });
    $('#pause')?.addEventListener('click', async () => {
      await actions.ably.stopwatch.actionToTimerName({
        action: TimerAction.PAUSE,
        name: '1 st',
      });
    });
  </script>
</Layout>
