---
import { AUTH_SECRET_TOKEN } from 'astro:env/server';
import Layout from 'src/layouts/Layout.astro';
import { authCoreGraphicsCookieName } from 'src/services/core-graphics/constants';
import Advertising from './Advertising.astro';
import Scenes from './Scenes.astro';
import ScoresControl from './ScoresControl.astro';
import ViewTimeAndSetTimeOffset from './ViewTimeAndSetTimeOffset.astro';

export const prerender = false;

const isAuth = Astro.cookies.get(authCoreGraphicsCookieName)?.value === AUTH_SECRET_TOKEN;
if (!isAuth) {
  return Astro.redirect('/core-graphics/setup');
}
---

<Layout title='Control core graphics'>
  <h1>Control the core graphics</h1>
  <p id='notification'></p>

  <ViewTimeAndSetTimeOffset />

  <section>
    <h2>Score controls</h2>

    <ScoresControl />
  </section>

  <section>
    <h2>Advertising</h2>

    <Advertising />
  </section>

  <section>
    <h2>Scenes control</h2>

    <fieldset>
      <input type='text' name='title' id='titleInput' value='Pablo Miyar' placeholder='Title' />
      <input
        type='text'
        name='subtitle'
        id='subtitleInput'
        value='Narración y comentarios'
        placeholder='Subtitle'
      />
      <button id='tt'>Show Title</button>
    </fieldset>

    <Scenes />
  </section>

  <script>
    import { actions } from 'astro:actions';

    const $tt = document.querySelector('#tt');
    const $t = document.querySelector('input#titleInput') as HTMLInputElement;
    const $st = document.querySelector('input#subtitleInput') as HTMLInputElement;
    if ($tt) {
      $tt.addEventListener('click', async () => {
        await actions.liveGraphics.showTitles({
          title: $t?.value ?? 'Pablo Miyar',
          subtitle: $st?.value ?? 'Narración y comentarios',
        });
      });
    }
  </script>

  <style>
    p#notification {
      width: 100%;
      height: 2rem;
    }
  </style>

  <style is:global>
    section,
    form {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    fieldset {
      display: flex;
      gap: 2rem;
      flex-direction: row;
      margin: 0.5rem 0;
      padding: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    section {
      margin-top: 2rem;
    }
  </style>
</Layout>
