---
import MemberPoster from '@components/MemberPoster.astro';
import SocialNetwork from '@components/SocialNetwork.astro';
import TrainingPlaceList from '@components/TrainingPlace/TrainingPlaceList.astro';
import MatchInfo from '@components/MatchInfo/index.astro';
import Layout from 'src/layouts/Layout.astro';

const canonicalUrl = Astro.url.href;
---

<Layout canonicalUrl={canonicalUrl}>
  <style slot='head'>
    div#more {
      display: none;
    }

    @media (max-height: 720px) {
      div#more {
        position: absolute;
        object-fit: contain;
        bottom: 0;
        right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      div#more span {
        opacity: 0.8;
        color: whitesmoke;
      }

      div#more img {
        max-width: 64px;
        max-height: 64px;
        transform: rotate(90deg);
        opacity: 0.3;
      }
    }

    div.container,
    article,
    article > main {
      direction: ltr;
      display: flex;
      flex-direction: column;
      place-items: center;
      align-items: center;
      width: 100%;
    }
    article > main {
      gap: 1rem;
    }

    article {
      gap: 0.5rem;
    }

    div.container {
      margin: 1.5rem auto;
      gap: 1.5rem;
    }

    header {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }

    header a[href^='#'] {
      text-decoration: none;
    }
  </style>
  <MatchInfo server:defer>
    <article slot='fallback' aria-hidden='true'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='320'
        height='116'
        viewBox='0 0 500 200'
        fill='none'
        style='margin: 0 auto;'
      >
        <rect x='162.671875' y='3.5' width='154.65625' height='32' fill='rgba(227, 227, 227, 0.8)'
        ></rect>
        <rect x='74.53125' y='57.5' width='330.921875' height='24' fill='rgba(227, 227, 227, 0.8)'
        ></rect>
        <rect x='294.3984375' y='94' width='97.96875' height='20' fill='rgba(227, 227, 227, 0.8)'
        ></rect>
        <rect x='253.4453125' y='124' width='16' height='48' fill='rgba(227, 227, 227, 0.8)' rx='8'
        ></rect>
        <rect x='159.421875' y='132' width='32' height='32' fill='rgba(227, 227, 227, 0.8)'></rect>
        <rect x='311.15625' y='138' width='80.53125' height='20' fill='rgba(227, 227, 227, 0.8)'
        ></rect>
      </svg>
    </article>
  </MatchInfo>
  <div class='container'>
    <article id='abonate'>
      <main>
        <MemberPoster />
        <SocialNetwork
          icon='vetusta'
          href='/abonate'
          text='¡Hazte socio y ven a vernos!'
          alt='Escudo del club balonmano vetusta'
          title='Enlace al formulario para hacerse socio del club'
          loading='eager'
        />
      </main>
    </article>

    <article id='redes-sociales'>
      <header>
        <a href='#redes-sociales' title='Redes sociales del club'>🔗</a>
        <h2>Redes Sociales</h2>
      </header>
      <main>
        <SocialNetwork
          icon='yt'
          href='/youtube'
          text='¡Suscribete para ver nuestros partidos!'
          alt='Logo de Youtube'
          title='Suscribete a nuestro canal de Youtube'
          loading='lazy'
        />

        <SocialNetwork
          icon='x'
          href='/x'
          text='@BM_Vetusta'
          alt='Logo de X (Twitter)'
          title='Enlace a la cuenta en X (Twitter) del club'
          loading='lazy'
        />

        <SocialNetwork
          icon='instagram'
          href='/instagram'
          text='@balonmanovetusta'
          alt='Logo de Instagram'
          title='Enlace a la cuenta en Instagram del club'
          loading='lazy'
        />
      </main>
    </article>

    <article id='entrena'>
      <header>
        <a href='#entrena' title='Calendario y sitios donde entrenar con nosotros en Oviedo'>🔗</a>
        <h2>¿Dónde entrenar con nostros?</h2>
      </header>
      <main>
        <TrainingPlaceList />
      </main>
    </article>
  </div>
</Layout>

<div id='more' aria-hidden='true'>
  <img id='more' aria-hidden='true' src='/assets/images/arrow-right.svg' alt='Más contenido' />
  <span>Ver más</span>
</div>

<script>
  function changeToUrl(url: string) {
    window.history.replaceState(null, '', url);
  }
  const elementsWithId = Array.from(document.querySelectorAll('[id]:not(#more)'));
  elementsWithId.forEach((element) => {
    const observer = new IntersectionObserver(
      (entries) => {
        const isIntersecting: { id: string; ratio: number }[] = [];

        entries.forEach((entry) => {
          const id = entry.target.getAttribute('id')!;
          const ratio = entry.intersectionRatio;
          if (id && ratio > 0.3) {
            isIntersecting.push({ id, ratio });
          }
        });

        // if (isIntersecting.length === 0) {
        //   changeToUrl('/');
        // }

        if (isIntersecting.length > 0) {
          const mostVisible = isIntersecting.sort((a, b) => b.ratio - a.ratio).at(0)!;
          changeToUrl(`/#${mostVisible.id}`);
        }
      },
      { threshold: 0.3 }
    );

    observer.observe(element);
  });
</script>
