---
import MemberPoster from '@components/MemberPoster.astro';
import SocialNetwork from '@components/SocialNetwork.astro';
import TrainingPlaceList from '@components/TrainingPlace/TrainingPlaceList.astro';
import CurrentLiveVideo from 'src/components/CurrentLiveVideo.astro';
import Layout from 'src/layouts/Layout.astro';

export const prerender = true;

const canonicalUrl = Astro.url.href;
---

<style>
  div#more {
    display: none;
  }

  @media (max-height: 720px) {
    div#more {
      position: absolute;
      object-fit: contain;
      bottom: 0;
      right: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div#more span {
      opacity: 0.8;
      color: whitesmoke;
    }

    div#more img {
      max-width: 64px;
      max-height: 64px;
      transform: rotate(90deg);
      opacity: 0.3;
    }
  }

  div.container,
  article,
  article > main {
    direction: ltr;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    width: 100%;
  }
  article > main {
    gap: 1rem;
  }

  article {
    gap: 0.5rem;
  }

  div.container {
    margin: 1.5rem auto;
    gap: 1.5rem;
  }
</style>

<Layout canonicalUrl={canonicalUrl}>
  <CurrentLiveVideo server:defer />
  <div class='container'>
    <article id='abonate'>
      <main>
        <MemberPoster />
        <SocialNetwork
          icon='vetusta'
          href='/abonate'
          text='¡Hazte socio y ven a vernos!'
          alt='Escudo del club balonmano vetusta'
          title='Enlace al formulario para hacerse socio del club'
        />
      </main>
    </article>

    <article id='redes'>
      <header>
        <h2>Redes Sociales</h2>
      </header>
      <main>
        <SocialNetwork
          icon='yt'
          href='/youtube'
          text='¡Suscribete para ver nuestros partidos!'
          alt='Logo de Youtube'
          title='Suscribete a nuestro canal de Youtube'
        />

        <SocialNetwork
          icon='x'
          href='/x'
          text='@BM_Vetusta'
          alt='Logo de X (Twitter)'
          title='Enlace a la cuenta en X (Twitter) del club'
        />

        <SocialNetwork
          icon='instagram'
          href='/instagram'
          text='@balonmanovetusta'
          alt='Logo de Instagram'
          title='Enlace a la cuenta en Instagram del club'
        />
      </main>
    </article>

    <article id='entrena'>
      <header>
        <h2>¿Dónde entrenar con nostros?</h2>
      </header>
      <main>
        <TrainingPlaceList />
      </main>
    </article>
  </div>
</Layout>

<div id='more' aria-hidden='true'>
  <img id='more' aria-hidden='true' src='/assets/images/arrow-right.svg' alt='Más contenido' />
  <span>Ver más</span>
</div>
