---
import trainingplaces from '../../assets/data/training-schedules.json';
import TrainingPlaceItem from './TrainingPlaceItem.astro';

export type Schedule = {
  weekDays: number[];
  start: string;
  end: string;
};

export type PlaceToTrain = {
  id: string;
  place: string;
  address: string;
  startDate: string;
  endDate: string;
  schedules: Schedule[];
};
---

<div>
  {trainingplaces.map((place: PlaceToTrain) => <TrainingPlaceItem {...place} />)}
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
