---
import { getCollection } from 'astro:content';
import TrainingPlaceItem from './TrainingPlaceItem.astro';

const trainingplaces = await getCollection('trainingPlaces');
---

<div>
  {trainingplaces.map((place) => <TrainingPlaceItem {...place.data} />)}
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
