---
import trainingPlaces from 'src/content/trainings/data.json' with { type: 'json' };
import TrainingPlaceItem from './TrainingPlaceItem.astro';
---

<div>
  {trainingPlaces?.map((place) => <TrainingPlaceItem {...place} />)}
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    content-visibility: auto;
  }
</style>
